.venv
*__
__pycache__/
*.pyc
*.pyo
vulnerability_samples/
skills/
.agents
design.md
.pytest*
.continue/
test_config_manifest.json
unit_test_config_manifest.json
model_cache/
cvefixes_dataset
benchmark_manifest*
workspace_storage_e2e
.kilo
.training_cache/*
.vscode/*
vudenc_dataset
training_data/*
training_output/*
*manifest.json

